<%= form_with model: @slider, url: url, data: {turbo: false} do |form| %>
  <div class="form">

    <%= form.label :title, class: "control-label" %>
    <%= form.text_field :title %>

    <%= form.label :description %>
    <%= form.text_area :description %>

    <%= form.label :image %>
    <%= form.file_field :image %>

    <%= form.submit class: "button buttom__primary"%>
  </div>
<% end %>