<%- title @page_title_text %>

<section class="section-show section_gray">
    <div class="wrapper flex_stretch_start wrapper__content">
        <%= render "shared/sidebar", controller: @abouts %>
        <div class="leader_show-list" list_gray">
            <% @leaders.each do |leader| %>
                <div class="leader__item left">
                    <% @leaders.each do |leader| %>
                        <div class="leader__img left">
                            <% if leader.image.present? %>
                                <%= image_tag(leader.image, alt: leader.name, title: leader.name, class: "leader__img_inside") %>
                            <% else %>
                                <%= image_tag("noimage.png", alt: "Нет изображения", title: 'Нет изображения', class: "leader__img_inside") %>
                            <% end %>
                        </div>
                        <div class="leader__content">
                            <div class="leader__title">
                                <h6><%= leader.name %></h5>
                            </div>
                            <p class="leader__text" class="left">
                                <%= leader.post %>
                            </p>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>
