<h4 class="title"><%= Science.model_name.human(count: :many) %>
    <%= link_to icon('fa-solid', 'plus', class: "icon__create"), new_science_path, title: "Создать", class: "create" %></h4>
<% @sciences.each do |science| %>
    <div class="admin-list__item" id="science_id_<%= science.id %>">
        <div class="admin-list__img left">
            <% if science.icon.blank? %>
                <%= link_to edit_science_path(science.page_title), class: "admin-list__link-img flex_cneter_center edit" do %>
                    <%= icon("fa-solid", "file")%>
                <% end %>
            <% else %>
                <%= link_to edit_science_path(science.page_title), class: "admin-list__link-img flex_cneter_center edit" do %>
                    <%= icon("fa-solid", science.icon)%>
                <% end %>
            <% end %>
        </div>
        <div class="admin-list__title">
            <%= link_to edit_science_path(science.page_title), class: "edit" do %>
                <%= science.title %>
                <%= icon("fa-solid", "pen-to-square", class: "icon__edit")%>
            <% end %>
            <%= button_to icon("fa-solid", "trash-can", class: "icon__delete"), science_path(science.page_title), 
                    method: :delete, 
                    form: {data: {turbo_confirm: "Вы точно хотите удалить элемент?" }}, 
                    class: "delete" %>
        </div>
        <div class="admin-list__info">
            <div class="admin-list__date small right"><%= l(science.created_at, format: :long) %></div>
        </div>
    </div>
<% end %>
