<div class="admin-list__documents admin-list">
    <h4 class="title">Документы
        <%= link_to icon('fa-regular', 'plus'), new_document_path, title: "Создать", class: "create" %></h4>
    <% @documents.each do |document| %>
        <div class="admin-list__item" id="admin-list__item-<%= document.id %>">
            <div class="admin-list__item_img left flex-block">
                <%= link_to edit_document_path(document.page_title), class: "edit" do %>
                    <%= icon("fa-solid", "file")%>
                <% end %>
            </div>
            <div class="admin-list__item_title">
                <%= link_to edit_document_path(document.page_title), class: "edit" do %>
                    <%= document.title %>
                    <%= icon("fa-regular", "pen-to-square")%>
                <% end %>
                <%= button_to icon("fa-regular", "trash-can"), document_path(document.page_title), 
                    method: :delete, 
                    form: {data: {turbo_confirm: "Вы точно хотите удалить документ?" }}, 
                    class: "delete" %>
            </div>
        </div>
    <% end %>
</div>
