<h4 class="title"><%= Activity.model_name.human(count: :many) %>
    <%= link_to icon('fa-solid', 'plus', class: "icon__create"), new_activity_path, title: "Создать", class: "create" %></h4>
<% @activities.each do |activity| %>
    <div class="admin-list__item" id="activity_id_<%= activity.id %>">
        <div class="admin-list__img left">
            <% if activity.icon.nil? %>
                <%= link_to edit_activity_path(activity.page_title), class: "admin-list__link-img flex_cneter_center edit" do %>
                    <%= icon("fa-solid", "file")%>
                <% end %>
            <% else %>
                <%= link_to edit_activity_path(activity.page_title), class: "admin-list__link-img flex_cneter_center edit" do %>
                    <%= icon("fa-solid", activity.icon)%>
                <% end %>
            <% end %>
        </div>
        <div class="admin-list__title">
            <%= link_to edit_activity_path(activity.page_title), class: "edit" do %>
                <%= activity.title %>
                <%= icon("fa-solid", "pen-to-square", class: "icon__edit")%>
            <% end %>
            <%= button_to icon("fa-solid", "trash-can", class: "icon__delete"), activity_path(activity.page_title), 
                    method: :delete, 
                    form: {data: {turbo_confirm: "Вы точно хотите удалить элемент?" }}, 
                    class: "delete" %>
        </div>
        <div class="admin-list__info">
            <div class="admin-list__date small right"><%= l(activity.created_at, format: :long) %></div>
        </div>
    </div>
<% end %>
