<h4 class="title"><%= Theme.model_name.human(count: :many) %>
    <%= link_to icon('fa-solid', 'plus', class: "icon__create"), new_theme_path, title: "Создать", class: "create" %></h4>
<% @themes.each do |theme| %>
    <div class="admin-list__item" id="theme_id_<%= theme.id %>">
        <div class="admin-list__img left">
            <%= link_to edit_theme_path(theme.id), class: "admin-list__link-img flex_cneter_center edit" do %>
                <%= icon("fa-solid", "file")%>
            <% end %>
        </div>
        <div class="admin-list__title">
            <%= link_to edit_theme_path(theme.id), class: "edit" do %>
                <%= theme.title %>
                <%= icon("fa-solid", "pen-to-square", class: "icon__edit")%>
            <% end %>
            <%= button_to icon("fa-solid", "trash-can", class: "icon__delete"), theme_path(theme.id), 
                    method: :delete, 
                    form: {data: {turbo_confirm: "Вы точно хотите удалить тему?" }}, 
                    class: "delete" %>
        </div>
        <div class="admin-list__info">
            <div class="admin-list__date small right"><%= l(theme.created_at, format: :long) %></div>
        </div>
    </div>
<% end %>
