<% @posts.each do |post| %>
    <div class="b-post__item" id="post_id_<%= post.id %>">
        <div class="b-post__img left">
            <%= link_to post_url(post.number, subdomain: false), class: "b-post__link-img flex_center_center" do%>
                <% if post.image.present? %>
                    <%= image_tag(post.image, alt: post.title, title: post.title, class: "b-post__img_inside") %>
                <% else %>
                    <%= image_tag("noimage.png", alt: "Нет изображения", title: 'Нет изображения', class: "b-post__img_inside") %>
                <% end %>
            <% end %>
        </div>
        <div class="b-post__content">
            <div class="b-post__title">
                <%= link_to post.title, post_url(post.number, subdomain: false), class: "b-post__link" %>
            </div>
            <div class="b-post__date small right"><%= l(post.created_at, format: :long) %></div>
        </div>
    </div>
<% end %>
