<% @sliders.each do |slider| %>
    <li>
        <div class="slider__item" id="slider__item-<%= slider.id %>" style="background: url(<%= url_for(slider.image) %>)">
            <div class="wrapper wrapper__flex_center">
                <div class="slider__item_text">
                    <h2 class="slider__item_title"><%= slider.title %></h2>
                    <p><%= slider.description %></p>
                    <%= link_to slider.link, class: "button__link" do %>
                        <div class="button button__primary button__default">Подробнее</div>
                    <% end %>
                </div>
            </div>
        </div>
    </li>
<% end %>
