<% @sliders.each do |slider| %>
    <li>
        <div class="slider__item" id="slider__item_<%= slider.id %>" style="background: url(<%= url_for(slider.image) %>) center">
            <div class="wrapper flex_center_start">
                <div class="slider__content">
                    <h2 class="slider__title title"><%= slider.title %></h2>
                    <p class="slider__text text" align="justify"><%= slider.description %></p>
                    <%= link_to slider.link, class: "button__link" do %>
                        <div class="button button_primary">Подробнее</div>
                    <% end %>
                </div>
            </div>
        </div>
    </li>
<% end %>
