<section class="slider">
    <ul>
        <%= render "slider" %>
    </ul>
</section>


<section>
    <div class="wrapper flex_center_center">
        <div class="b-about left">
            <h2 class="about__title title">АО "ИРМ"</h2>
            <p class="about__text text" align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci, reiciendis, commodi quisquam saepe deserunt ducimus, veniam maiores excepturi ab iure ea repudiandae distinctio quos voluptatum necessitatibus? Doloribus, voluptas culpa reiciendis magnam necessitatibus consectetur dicta asperiores vel harum blanditiis voluptates modi fugit aliquam iure. Fugit optio molestias, cum explicabo consequuntur quae, nostrum officiis libero harum aut, animi tenetur assumenda excepturi quidem earum enim rerum expedita at. Fuga possimus beatae illo labore sit, consequuntur aliquam, sequi error impedit odit corporis non unde iusto similique dolorem ad fugiat iure eaque architecto! Nobis officia minus atque non in repellendus sunt accusamus, adipisci consequatur?</p>
            <%= link_to root_url(subdomain: false), class: "button__link" do %>
                <div class="button button_secondary">Подробнее</div>
            <% end %>
        </div>
        <div class="b-post left">
            <div class="title">
                <h4>Новости</h4>
                <p class="subtitle">Если не новсти, то события</p>
            </div>
            <%= render "post" %>
            <%= link_to posts_url(subdomain: false), class: "button__link" do %>
                <div class="button button_secondary">Все новости</div>
            <% end %>
        </div>
    </div>
</section>

<section class="section_gray">
    <div class="wrapper">
        <h2 class="title" style="text-align: center;">Lorem, ipsum dolor.</h2>
        <div class="b-activity flex_center_around" style="gap: 20px;" ">
            <div class="activity__item" id="activity__item_1">
                <div class="activity__content">
                    <h4 class="activity__title">Lorem, ipsum dolor.</h4>
                    <p class="activity__text">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="activity__item" id="activity__item_2">
                <div class="activity__content">
                    <h4 class="activity__title">Lorem, ipsum dolor.</h4>
                    <p class="activity__text">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="activity__item" id="activity__item_3">
                <div class="activity__content">
                    <h4 class="activity__title">Lorem, ipsum dolor.</h4>
                    <p class="activity__text">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrapper">
        <h2 class="title" style="text-align: center;">Партнеры</h2>
        <div class="partners">
            <div class="partners__item">
                <%= link_to "http://www.souzop.ru/", class: "partners__link-img" do %>
                    <div class="partners__img">
                        <%= image_tag("logo/logo-souzop.png", alt: "Союз предприятий оборонных отраслей промышленности Свердловской области", title: 'Союз предприятий оборонных отраслей промышленности Свердловской области', class: "partners__img_inside") %>
                    </div>
                <% end %>
                <div class="partners__contetn">
                    <%= link_to "http://www.souzop.ru/", class: "partners__link" do %>
                        <h5 class="partners__title">Союз предприятий оборонных отраслей промышленности Свердловской области</h5>
                    <% end %>
                    <p class="partners__text">
                        Предприятия Союза участвуют в реализации федеральных целевых программ и технологических платформ для достижения лидерства в ведущих высокотехнологичных отраслях экономики
                    </p>
                </div>
            </div>
            <div class="partners__item">
                <%= link_to "https://www.wipo.int/portal/ru/", class: "partners__link-img" do %>
                    <div class="partners__img">
                        <%= image_tag("logo/logo-wipo.jpg", alt: "Всемирная организация интеллектуальной собственности", title: 'Всемирная организация интеллектуальной собственности', class: "partners__img_inside") %>
                    </div>
                <% end %>
                <div class="partners__contetn">
                    <%= link_to "https://www.wipo.int/portal/ru/", class: "partners__link" do %>
                        <h5 class="partners__title">Всемирная организация интеллектуальной собственности</h5>
                    <% end %>
                    <p class="partners__text">
                        Всемирная организация интеллектуальной собственности (ВОИС) является глобальным форумом по вопросам оказания услуг, разработки политики, предоставления информации и организации сотрудничества в области интеллектуальной собственности (ИС)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
