<section class="banner">
    <ul>
        <%= render "banner" %>
    </ul>
</section>


<section>
    <div class="wrapper flex_center_center">
        <div class="b-about left">
            <h2 class="about__title title">АО "ИРМ"</h2>
            <p class="about__text text" align="justify">АО «Институт реакторных материалов» - атомный центр Урала материаловедческого профиля, предприятие Блока по управлению инновациями Государственной корпорации по атомной энергии «Росатом». Институт начал свою деятельность в 1966 году с осуществления физического пуска реактора ИВВ-2. Приоритетной целью института является обоснование безопасного и эффективного применения ядерной энергии и радиационных технологий. АО «Институт реакторных материалов» - атомный центр Урала материаловедческого профиля, предприятие Блока по управлению инновациями Государственной корпорации по атомной энергии «Росатом». Институт начал свою деятельность в 1966 году с осуществления физического пуска реактора ИВВ-2. Приоритетной целью института является обоснование безопасного и эффективного применения ядерной энергии и радиационных технологий.</p>
            <%= link_to about_url("o-nas" ,subdomain: false), class: "button__link" do %>
                <div class="button button_secondary">Подробнее</div>
            <% end %>
        </div>
        <div class="b-post left">
            <div class="title">
                <h2><%= Post.model_name.human(count: :many) %></h4>
                <p class="subtitle">Если не новсти, то события</p>
            </div>
            <%= render "post" %>
            <%= link_to posts_url(subdomain: false), class: "button__link" do %>
                <div class="button button_secondary">Все новости</div>
            <% end %>
        </div>
    </div>
</section>

<section class="section_gray">
    <div class="wrapper">
        <h2 class="title" style="text-align: center;"><%= Activity.model_name.human(count: :many) %></h2>
        <div class="b-activity flex_center_around" style="gap: 20px;" ">
            <%= render "activity" %>
        </div>
    </div>
</section>

<section>
    <div class="wrapper">
        <h2 class="title" style="text-align: center;">Партнеры</h2>
        <div class="partners">
            <div class="partners__item">
                <%= link_to "http://www.souzop.ru/", class: "partners__link-img" do %>
                    <div class="partners__img">
                        <%= image_tag("logo/logo-souzop.png", alt: "Союз предприятий оборонных отраслей промышленности Свердловской области", title: 'Союз предприятий оборонных отраслей промышленности Свердловской области', class: "partners__img_inside") %>
                    </div>
                <% end %>
                </div>
            </div>
            <div class="partners__item">
                <%= link_to "https://www.wipo.int/portal/ru/", class: "partners__link-img" do %>
                    <div class="partners__img">
                        <%= image_tag("logo/logo-wipo.jpg", alt: "Всемирная организация интеллектуальной собственности", title: 'Всемирная организация интеллектуальной собственности', class: "partners__img_inside") %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
