<section></section>
<footer>
    <section class="footer-top">
        <div class="wrapper">
            <div class="footer-item footer-item-main">
                <%= link_to 'https://rosatom.ru', class: "footer-logo-link" do %>
                    <%= image_tag("logo/logo-rosatom-white.png", alt: "Росатом", title: 'Росатом', class: "footer-logo-img") %>
                <% end %>
                <%= link_to 'https://niirosatom.ru/', class: "footer-logo-link" do%>
                    <%= image_tag("logo/logo-nii-white.png", alt: "Наука и инновации", title: 'Наука и инновации', class: "footer-logo-img") %>
                <% end %>
                <span>624250, Свердловская область,<br>г. Заречный, ул. а/я 29</span>
                <span>noreply@irmatom.ru</span>
            </div>
            <div class="footer-item">
                <ul> 
                    <li><h5>Категории</h5></li>
                    <li><%= link_to "Главная", root_path %></li>
                    <li><%= link_to "Об институте", root_path %></li>
                    <li><%= link_to "Новости", news_index_path %></li>
                    <li><%= link_to "Контакты", root_path %></li>
                </ul>
            </div>
            <div class="footer-item">
                <ul>
                    <li>
                        <h5>Lorem, ipsum.</h5>
                    </li>
                    <li>Lorem, ipsum.</li>
                    <li>Magnam, autem!</li>
                </ul>
            </div>
            <div class="footer-item social">
                <ul>
                    <li>
                        <h5>Социальные сети</h5>
                    </li>
                    <li>
                        <%= link_to icon('fa-brands', 'vk'), "https://vk.com", title: "ВКонтакте", class: "social-link vk" %>
                        <%= link_to icon('fa-brands', 'telegram'), "https://web.telegram.org", title: "Телеграм", class: "social-link telegram" %>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-bot">
        <div class="wrapper">
            <div>
                <%= link_to "Политика конфиденциальности", root_path %>
                <%= link_to "Карта сайта", root_path %>
            </div>
        <span>&copy; 2023 АО "ИРМ"<br>НЕ Все права защищены</span>
        </div>
    </section>
</footer>