<footer class="footer">
    <section class="footer-top">
        <div class="wrapper flex_top_between">
            <div class="footer-top__item">
                <%= link_to 'https://rosatom.ru', class: "footer-top__link-logo" do %>
                    <%= image_tag("logo/logo-rosatom_white.png", alt: "Росатом", title: 'Росатом', class: "footer-logo__img") %>
                <% end %>
                <%= link_to 'https://niirosatom.ru/', class: "footer-top__link-logo" do%>
                    <%= image_tag("logo/logo-nii_white.png", alt: "Наука и инновации", title: 'Наука и инновации', class: "footer-logo__img") %>
                <% end %>
                <span class="footer-top__text">624250, Свердловская область,<br>г. Заречный, ул. а/я 29</span>
                <span class="footer-top__text">noreply@irmatom.ru</span>
            </div>
            <div class="footer-top__item">
                <ul class="footer-top-list"> 
                    <li class="footer-top-list__item"><h5 class="footer-top-list__title">Важное</h5></li>
                    <li class="footer-top-list__item"><%= link_to "Главная", root_url(subdomain: false), class: "footer-top-list__link" %></li>
                    <li class="footer-top-list__item"><%= link_to "О нас", root_url(subdomain: false), class: "footer-top-list__link" %></li>
                    <li class="footer-top-list__item"><%= link_to "Новости", posts_url(subdomain: false), class: "footer-top-list__link" %></li>
                    <li class="footer-top-list__item"><%= link_to "Контакты", root_url(subdomain: false), class: "footer-top-list__link" %></li>
                </ul>
            </div>
            <div class="footer-top__item">
                <ul class="footer-top-list">
                    <li class="footer-top-list__item">
                        <h5 class="footer-top-list__title">Категории</h5>
                    </li>
                    <li class="footer-top-list__item"><%= link_to "Продукты", root_url(subdomain: false), class: "footer-top-list__link" %></li>
                    <li class="footer-top-list__item"><%= link_to "Наука", root_url(subdomain: false), class: "footer-top-list__link" %></li>
                    <li class="footer-top-list__item"><%= link_to "Активности", root_url(subdomain: false), class: "footer-top-list__link" %></li>
                </ul>
            </div>
            <div class="footer-top__item social">
                <ul class="footer-top-list">
                    <li class="footer-top-list__item">
                        <h5 class="footer-top-list__title">Социальные сети</h5>
                    </li>
                    <li class="footer-top-list__item">
                        <%= link_to icon('fa-brands', 'vk', class: "social-link__icon"), "https://vk.com", title: "ВКонтакте", class: "social-link vk" %>
                        <%= link_to icon('fa-brands', 'telegram', class: "social-link__icon"), "https://web.telegram.org", title: "Телеграм", class: "social-link telegram" %>
                    </li class="footer-top-list__item">
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-bot">
        <div class="wrapper flex_center_between">
            <div>
                <%= link_to "Политика конфиденциальности", privacy_path(subdomain: false), class: "footer-bot__link" %>
            </div>
        <span class="copyright">&copy; 2023 АО "ИРМ"<br>Все права защищены</span>
        </div>
    </section>
</footer>