<header class="header">
    <div class="wrapper">
        <div class="b-header">
            <div class="logo left">
                <%= link_to root_url(subdomain: false), class: "logo__link" do %>
                    <%= image_tag("logo/logo-irm.png", alt: "Лого ИРМ", title: 'ИРМ', class: "header__logo", height: "58px") %>
                <% end %>
            </div>
            <ul class="nav">
                <% @headers.each do |header| %>
                    <li class="nav__item"><%= link_to header.title, header.link, class: "nav__link" %></li>
                <% end %>
                <li class="nav__item"><%= link_to "Документы", documents_url(subdomain: false), class: "nav__link" %></li>
            </ul>
            <div class="button__link button__menu right">
                <%= icon("fa-solid", "bars", class: "header__icon")%>
            </div>
        </div>
    </div>
</header>
<ul class="nav-small">
    <div class="button__link button__menu active right">
        <%= icon("fa-solid", "xmark", class: "header__icon")%>
    </div>
    <div class="nav-small__list">
    <li class="nav-small__item" style="background-color: var(--avengers);"><h5>Меню</h5></li>
        <% @headers.each do |header| %>
            <li class="nav-small__item"><%= link_to header.title, header.link, class: "nav-small__link" %></li>
        <% end %>
        <li class="nav-small__item"><%= link_to "Документы", documents_url(subdomain: false), class: "nav-small__link" %></li>
    </div>
</ul>
