<header>
    <div class="wrapper">
        <div class="header">
            <div class="header-logo">
            <%= link_to root_path do %>
                <%= image_tag("logo.png", alt: "logo_irm", title: 'ИРМ', class: "header-logo-img") %>
            <% end %>
            </div>
            <ul class="header-menu">
                <li class="header-menu-item"><%= link_to "О предприятии", root_path %></li>
                <li class="header-menu-item"><%= link_to "Партнерам", root_path %></li>
                <li class="header-menu-item"><%= link_to "Наука", root_path %></li>
                <li class="header-menu-item"><%= link_to "Продукция", root_path %></li>
                <li class="header-menu-item"><%= link_to "Документы", root_path %></li>
                <li class="header-menu-item"><%= link_to "Пресс-центр", root_path %></li>
                <li class="header-menu-item"><%= link_to "Карьера", root_path %></li>
                <li class="header-menu-item"><%= link_to "Обратная свзяь", root_path %></li>

            </ul> 
        </div>
    </div>
</header>