<header>
    <div class="wrapper">
        <div class="header">
            <div class="header__logo">
            <%= link_to root_path do %>
                <%= image_tag("logo/logo-irm.png", alt: "Лого ИРМ", title: 'ИРМ', class: "header__logo-img") %>
            <% end %>
            </div>
            <ul class="header__menu">
                <li class="header__menu_item"><%= link_to "О нас", root_path %></li>
                <li class="header__menu_item"><%= link_to "Партнерам", root_path %></li>
                <li class="header__menu_item"><%= link_to "Наука", root_path %></li>
                <li class="header__menu_item"><%= link_to "Продукция", root_path %></li>
                <li class="header__menu_item"><%= link_to "Документы", documents_path %></li>
                <li class="header__menu_item"><%= link_to "Новости", posts_path %></li>
                <li class="header__menu_item"><%= link_to "Карьера", root_path %></li>
                <li class="header__menu_item"><%= link_to "Обратная свзяь", root_path %></li>

            </ul> 
        </div>
    </div>
</header>