<header class="header">
    <div class="wrapper">
        <div class="b-header">
            <div class="logo left">
                <%= link_to root_url(subdomain: false), class: "logo__link" do %>
                    <%= image_tag("logo/logo-irm.png", alt: "Лого ИРМ", title: 'ИРМ', class: "header__logo") %>
                <% end %>
            </div>
            <ul class="nav">
                <% @headers.each do |header| %>
                    <li class="nav__item"><%= link_to header.title, header.link, class: "nav__link" %></li>
                <% end %>
                <li class="nav__item"><%= link_to "Документы", documents_url(subdomain: false), class: "nav__link" %></li>
            </ul>
            <div class="button button_primary button__link button__menu right">
                <%= icon("fa-solid", "bars", class: "header__icon")%>
            </div>
        </div>
    </div>
</header>
<ul class="nav-small">
    <% @headers.each do |header| %>
        <li class="nav-small__item"><%= link_to header.title, header.link, class: "nav-small__link" %></li>
    <% end %>
    <li class="nav-small__item"><%= link_to "Документы", documents_url(subdomain: false), class: "nav-small__link" %></li>
</ul>
