<% if flash[:success].present? %>
    <div id="notification" class="notification notification__success">
        <div class="notification__icon"><%= icon("fa-regular", "check-circle")%></div>
        <div class="notification__text">
            <%= flash[:success] %>
        </div>
    </div>
    <% elsif flash[:error].present?%>
    <div id="notification" class="notification notification__error">
        <div class="notification__icon"><%= icon("fa-regular", "exclamation-circle")%></div>
        <div class="notification__text">
            <%= flash[:error] %>
        </div>
    </div>
    <% elsif flash[:info].present?%>
    <div id="notification" class="notification notification__info">
        <div class="notification__icon"><%= icon("fa-regular", "info-circle")%></div>
        <div class="notification__text">
            <%= flash[:info] %>
        </div>
    </div>
<% end %>
