<div class="sidebar sidebar-about">
    <div class="menu">
        <% @abouts.each do |about| %>
            <%= link_to about_path(about.page_title) do %>
                <div class="menu__item">
                    <div class="menu__body">
                        <div class="menu__icon"><%= icon("fa-solid", "circle-info")%></div>
                        <div class="menu__title"><%= about.title %></div>
                    </div>
                </div>
            <% end %>
        <% end %>
        <%= link_to leaders_path(key: "leaders") do %>
            <div class="menu__item">
                <div class="menu__body">
                    <div class="menu__icon"><%= icon("fa-solid", "user")%></div>
                    <div class="menu__title"><%= Leader.model_name.human(count: :many) %></div>
                </div>
            </div>
        <% end %>
    </div>
</div>
