<div class="sidebar">
    <div class="menu">
        <% controller.each do |controller| %>
            <%= link_to controller.page_title do %>
                <div class="menu__item">
                    <div class="menu__body">
                        <div class="menu__icon"><%= icon("fa-solid", "circle-info")%></div>
                        <div class="menu__title"><%= controller.title %></div>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% if controller == @abouts %>
            <%= link_to leaders_path do %>
                <div class="menu__item">
                    <div class="menu__body">
                        <div class="menu__icon"><%= icon("fa-solid", "user")%></div>
                        <div class="menu__title"><%= Leader.model_name.human(count: :many) %></div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
