<%= orm_with model: @news, data: {turbo: false} do |form| %>
    <div class="field">
        <%= form.label :title %>
        <%= form.text_area :title, rows: 5 , cols: 45 %>
        <%= form.label :body %>
        <%= form.rich_text_area :body %>

        <%= form.submit class: "button"%>
    </div>
<% end %>