<div class="admin-form">
    <%= form_with model: @document, url: url, data: {turbo: false} do |form| %>
        <div class="form">

            <%= form.label :title, class: "form__item form__item_label" %>
            <%= form.text_area :title, class: "form__item form__item_textarea" %>

            <%= form.label :description, class: "form__item form__item_label" %>
            <%= form.text_area :description, class: "form__item form__item_textarea" %>

            <%= form.label :theme_id, class: "form__item form__item_label" %>
            <%= form.select :theme_id, options_from_collection_for_select(@themes, 'id', 'title'), {}, {class: "form__item form__item_select"} %>

            <div class="uploader form__item">
                <label class="uploader__attach">
                    <div class="uploader__content">
                        <div class="uploader__title">
                            <%= icon("fa-solid", "theme_id") %>
                            <span class="uploader__title_text">Загрузить файлы</span>
                        </div>
                        <div class="uploader__subtitle">Файлы должны быть в формате PDF</div>
                    </div>
                    <%= form.file_field :file, accept: 'application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
                </label>
            </div>

            <%= form.submit class: "button button_primary button_form"%>
        </div>
    <% end %>
</div>
