<div class="admin-form">
    <%= form_with model: @document, url: url, data: {turbo: false} do |form| %>
        <div class="form">

            <%= form.label :title%>
            <%= form.text_area :title, class: "input" %>

            <%= form.label :description %>
            <%= form.text_area :description, class: "input" %>


            <div class="uploader">
                <label class="uploader__attach">
                    <div class="uploader__content">
                        <div class="uploader__title">
                            <%= icon("fa-solid", "link") %>
                            <span class="uploader__title--text">Загрузить файлы</span>
                        </div>
                        <div class="uploader__sub-title">Файлы должны быть в формате PDF</div>
                    </div>
                    <%= form.file_field :file, accept: 'application/pdf, image/jpeg, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
                </label>
            </div>

            <%= form.submit class: "button button_primary"%>
        </div>
    <% end %>
</div>
