<%- title @page_title_text %>

<section class="section-documents">
    <div class="wrapper">
        <% @documents.each do |document| %>
            <div class="document__item" id="document__item-<%= document.id %>">
                <div class="document__item_text">
                    <h5 class="document__item_title"><%= link_to document.title, document_path(document.page_title)%></h5>
                    <p><%= document.description %></p>
                </div>
                <div class="document__item_file">
                    <%= link_to document.file do %>
                        <%= icon("fa-solid", "file-pdf")%>
                        <br>
                        <span class="document-file__name"><%= document.file.filename %></span>
                    <% end %>
                    <span class="document-file__size small"><%= number_to_human_size document.file.byte_size %></span>
                </div>
            </div>
        <% end %>
    </div>
</section>
