<%= form_with model: @post, url: url, data: {turbo: false} do |form| %>
  <div class="form">

    <%= form.label :title, class: "control-label" %>
    <%= form.text_area :title, rows: 5 , cols: 45 %>

    <%= form.label :content %>
    <%= form.rich_text_area :content %>

    <%= form.label :image %>
    <%= form.file_field :image %>

    <%= form.label :hot %>
    <%= form.check_box :hot %>

    <%= form.label :best %>
    <%= form.check_box :best %>

    <%= form.submit class: "button buttom__primary"%>
  </div>
<% end %>