<div class="admin-form">
    <%= form_with model: @post, url: url, data: {turbo: false} do |form| %>
        <div class="form">

            <%= form.label :title %>
            <%= form.text_area :title, class: "input" %>

            <%= form.label :subtitle %>
            <%= form.text_area :subtitle, class: "input"%>

            <%= form.label :image %>
            <%= form.file_field :image %>

            <%= form.label :hot %>
            <%= form.check_box :hot%>

            <%= form.label :best %>
            <%= form.check_box :best %>

            <%= form.label :content %>
            <%= form.rich_text_area :content %>

            <%= form.submit class: "button button__primary"%>
        </div>
    <% end %>
</div>
