<div class="post-box__item" id="post_id_<%= post.id %>">
    <div class="post__item_img left">
        <%= link_to post_path(post.number), class: "left flex-block" do%>
            <% if post.image.present? %>
                <%= image_tag(post.image, alt: post.title, title: post.title) %>
            <% else %>
                <%= image_tag("noimage.png", alt: "Нет изображения", title: 'Нет изображения') %>
            <% end %>
        <% end %>
    </div>
    <div class="post__item_details">
        <div class="post__item_title">
            <h5 align="justify"><%= link_to post.title, post_path(post.number)%></h5>
        </div>
            <span align="justify" class="left">
                <%= post.content.to_plain_text.truncate(200, separator: ' ').gsub(/\[.+?\]/, '') %>
            </span>
        <div class="post__item_date small right"><%= l(post.created_at, format: :long) %></div>
    </div>
</div>
