<%- title @page_title_text %>


<section class="section-post" style="padding: 0;">
    <div class="wrapper wrapper__content">
        <div class="content">
            <div class="content-wrapper">
                <h5 class="content-title"><%= @post.title %>
                    <% if @post.hot == true %>
                        <div class="post__hot left"><%= icon("fa-solid", "fire")%></div>
                    <% end %>
                    <% if @post.best == true %>
                        <div class="post__best left"><%= icon("fa-solid", "star")%></div>
                    <% end %>
                </h5>
                <div class="post-details medium">
                    <div class="post-date"><%= l(@post.created_at, format: :long) %></div>
                    <div class="post-views"><%= icon('fa-solid', 'eye')%><%= @post.views %></div>
                </div>
                <div align="justify"><%= @post.content.to_plain_text.split('.')[0]%></div>
            </div>
            <% if @post.image.present? %>
                <div class="content-image">
                    <%= image_tag(@post.image, alt: @post.title, title: @post.title) %>
                </div>
            <% end %>
            <div class="content-wrapper">
                <%= @post.content %>
            </div>
        </div>
    </div>
</section>
