<div class="admin-form">
<%= form_with model: @header, data: {turbo: false} do |form| %>
    <div class="form">

        <%= form.label :title, class: "form__item form__item_label" %>
        <%= form.text_field :title, class: "form__item form__item_input"  %>

        <%= form.label :link, class: "form__item form__item_label" %>
        <%= form.select :link, controllers_list, {prompt: "Выбирите"}, {class: "form__item form__item_select"} %>
               
        <%= form.submit class: "button button_primary button_form"%>

        </div>
    <% end %>
</div>


