<div class="admin-form">
    <%= form_with model: @activity, url: url, data: {turbo: false} do |form| %>
        <div class="form">
            <%= form.label :title, class: "form__item form__item_label" %>
            <%= form.text_field :title, class: "form__item form__item_input" %>

            <%= form.label :subtitle, class: "form__item form__item_label" %>
            <%= form.text_field :subtitle, class: "form__item form__item_input" %>

            <%= form.label :icon, class: "form__item form__item_label" do %>
                Иконка <%= link_to "Fontawesome", "https://fontawesome.com/search", class: "font_link", target: :_blank %>
            <% end %>
            <%= form.text_field :icon, class: "form__item form__item_input" %>

            <div class="uploader form__item">
                <label class="uploader__attach">
                    <div class="uploader__content">
                        <div class="uploader__title">
                            <%= icon("fa-solid", "link") %>
                            <span class="uploader__title_text">Загрузить файлы</span>
                        </div>
                        <div class="uploader__subtitle">Файлы должны быть в формате PNG/JPEG</div>
                    </div>
                    <%= form.file_field :image, accept: 'image/jpeg, image/gif, image/png' %>
                </label>
            </div>

            <%= form.label :content, class: "form__item form__item_label" %>
            <%= form.rich_text_area :content, class: "form__item form__item_textarea" %>

            <%= form.submit class: "button button_primary button_form"%>
        </div>
    <% end %>
</div>
