<!DOCTYPE html>
<html theme = <%= cookies[:theme] %> >
    <head>
        <title><%= content_for?(:title) ? content_for(:title) : "ИРМ" %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= favicon_link_tag asset_path('favicon.png') %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
        
    </head>
    <body>
        <% if !session[:admin] %>
            <div class="page">
        <% end %>
            <% if !session[:admin] %>
                <%= render "shared/header" %>
            <% end %>
            <%= render "shared/notification" %>

            <% if !current_page?(root_url) %>
                <%= render partial: "shared/page_title", locals: { page_title_text: @page_title_text, page_title_status: @page_title_status} %>
            <% end %>

            <%= yield %>

        <% if !session[:admin] %>
            </div>
        <% end %>
        <% if !session[:admin] %>
            <%= render "shared/footer" %>
            <%= render "shared/cookies" %>
        <% end %>  
        <%= javascript_include_tag "flickerplate" %>
        <script>
            new flickerplate({selector: '.banner'});
        </script>
          
    </body>
</html>
