<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for?(:title) ? content_for(:title) : "ИРМ" %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= favicon_link_tag asset_path('favicon.png') %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <div class="body">
            <%= render "shared/header" %>
            <%= render "shared/notification" %>
            <% if !current_page?(root_url) %>
                <%= render partial: "shared/page_title", locals: { page_title_text: @page_title_text, page_title_status: @page_title_status} %>
            <% end %>
            <%= yield %>

        </div>
            <%= render "shared/footer" %>
            <%= render "shared/cookies" %>
            
            <%= javascript_include_tag "flickerplate" %>
            <script>
                new flickerplate({selector: '.slider'});
            </script>
    </body>

</html>
